<% provide(:title, "Show user") %>
<center>
<table>
<caption>Profile
<tr>
<td>趣味</td> 
<td><%= @user.hobby %></td>
</tr>
<tr>
<td>興味分野</td>
<td><%= @user.interest %></td>
</tr>
<tr>
<td>夢</td>
<td><%= @user.dream %></td>
</tr>
</table>
<br>

フリーコメント
<table>
<tr>
<td>
<% text= @user.free%>
<%= simple_format(text) %>
</td>
</tr>
</table>
<center>

