/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.rogo {
  width: 70px;
  height: 70px;
}

.rogo2 {
  width: 210px;
  height: 210px;
}

.face {
  width: 30px;
  height: 30px;
}

.table1 {
  border-collapse:collapse;
  width: 400px;
}

.table1 th, .table1 td {
  border: 1px colid gray;
}

.content {
  display: none;
}

.content:target {
  display: block;
}
